<div *ngIf="cv$ | async as cv" class="row">
    <div class="col-12 col-md-3 bg-black text-light">
        <div class="container text-right p-3">
            <p class="d-none d-md-block text-right h4">
                {{ cv.ui.softSkillsLeftHeading }}<i class="fas fa-chart-line ml-2"></i>
            </p>
            <p class="d-md-none text-center h5">{{ cv.ui.softSkillsLeftHeading }}</p>
        </div>
    </div>
    <div class="col-12 col-md-9 bg-light p-3">
        <div class="container">
            <hr class="my-3">
            <p class="h3 text-muted">{{ cv.softSkillsHeading }}</p>
            <p *ngFor="let softSkill of cv.softSkills">{{ softSkill }}</p>
        </div>
    </div>
    <hr>
</div>