<div *ngIf="cv$ | async as cv" class="row">
    <div class="col-12 col-md-3 bg-black text-light">
        <div class="container text-right p-3">
            <p class="d-none d-md-block text-right h4">
                {{ cv.ui.experienceLeftHeading }}<i class="fas fa-briefcase ml-2"></i>
            </p>
            <p class="d-md-none text-center h5">{{ cv.ui.experienceLeftHeading }}</p>
        </div>
    </div>
    <div class="col-12 col-md-9 bg-light p-3">
        <div class="container">
            <ul class="timeline">
                <li *ngFor="let job of cv.experience" class="timeline-item bg-white rounded ml-3 p-4 shadow">
                    <div class="timeline-arrow"></div>
                    <h2 class="h5 mb-0">{{ job.company }}</h2>
                    <span class="small text-gray">
                        <i class="fa fa-history mr-1"></i>{{ job.dateRange }}
                    </span>
                    <p class="text-small mt-2 font-weight-light">{{ job.description }}</p>
                </li>
            </ul>
        </div>
        <hr>
    </div>