<div class="row">
    <div class="col-12 col-md-3 bg-black text-dark">
        <div class="container text-right p-3">
            <p class="d-none d-md-block text-right h4">Experiencia<i class="fas fa-briefcase ml-2"></i></p>
            <p class="d-md-none text-center h5">Experiencia</p>
        </div>
    </div>
    <div class="col-12 col-md-9 bg-light p-3">
        <div class="container">
            <!-- timeline item 1 -->
            <div class="row">
                <div class="mx-auto">
                    <!-- Timeline -->
                    <ul class="timeline">
                        <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                            <div class="timeline-arrow"></div>
                            <h2 class="h5 mb-0">Tedesoft S.A.S</h2><span class="small text-gray"><i class="fa fa-history mr-1"></i>8 de agosto de 2018 – a la fecha</span>
                            <p class="text-small mt-2 font-weight-light">Programador .Net, desarrollo de soluciones tecnologicas para facturación electronica, con backend .Net y frontend en Angular 7</p>
                        </li>
                        <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                            <div class="timeline-arrow"></div>
                            <h2 class="h5 mb-0">Gestión Franca S.A.S</h2><span class="small text-gray"><i class="fa fa-history mr-1"></i>22 de febrero de 2016 – 8 de agosto de 2018</span>
                            <p class="text-small mt-2 font-weight-light">Programador .Net, encargado del análisis del negocio y diseño del software para entregar soluciones informáticas, desarrolladas en tecnología .Net.</p>
                        </li>
                        <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                            <div class="timeline-arrow"></div>
                            <h2 class="h5 mb-0">Mectronics S.A.</h2><span class="small text-gray"><i class="fa fa-history mr-1"></i>14 de julio 2014 – 15 de febrero de 2016</span>
                            <p class="text-small mt-2 font-weight-light">Ingeniero de Desarrollo del sistema de información para la exportacion de flotas (SIEF), se desarrolla en .net y la generacion de reportes a través de reporting services.</p>
                        </li>
                        <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                            <div class="timeline-arrow"></div>
                            <h2 class="h5 mb-0">Ondata S.A.</h2><span class="small text-gray"><i class="fa fa-history mr-1"></i>14 de febrero de 2014 -   11 de julio de 2014</span>
                            <p class="text-small mt-2 font-weight-light">Ingeniero de desarrollo y soporte de software CRM Titan, desarrollo en ASP.NET y MVC 4</p>
                        </li>
                        <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                            <div class="timeline-arrow"></div>
                            <h2 class="h5 mb-0">Axesnet SAS</h2><span class="small text-gray"><i class="fa fa-history mr-1"></i>4 de febrero de 2013 - 28 de mayo de 2013</span>
                            <p class="text-small mt-2 font-weight-light">Desarrollo y soporte de aplicaciones web en ASP.NET</p>
                        </li>
                    </ul>
                    <!-- End -->
                </div>
            </div>
        </div>
        <hr>
    </div>