@if (cv$ | async; as cv) {
<div class="row">
    <div class="col-12 col-md-3 bg-black text-light">
        <div class="container text-right p-3">
            <p class="d-none d-md-block text-right h4">
                {{ cv.ui.educationLeftHeading }}<i class="fas fa-book-open ml-2"></i>
            </p>
            <p class="d-md-none text-center h5">{{ cv.ui.educationLeftHeading }}</p>
        </div>
    </div>
    <div class="col-12 col-md-9 bg-light p-3">
        <div class="container">
            <p class="h3 text-muted">{{ cv.ui.educationFormalHeading }}</p>
            <hr>
            <dl class="row">
                @for (item of cv.education.formal; track $index) {
                <dt class="col-sm-5 text-info">{{ item.school }}</dt>
                <dd class="col-sm-7">
                    <blockquote class="blockquote text-left">
                        <p class="mb-0">{{ item.title }}</p>
                        @if (item.date) {
                        <footer class="blockquote-footer"><cite>{{ item.date }}</cite></footer>
                        }
                    </blockquote>
                </dd>
                }
            </dl>

            <p class="h3 text-muted mt-4">{{ cv.ui.educationNonFormalHeading }}</p>
            <hr>
            <dl class="row">
                @for (item of cv.education.nonFormal; track $index) {
                <dt class="col-sm-5 text-info">{{ item.org }}</dt>
                <dd class="col-sm-7">
                    <blockquote class="blockquote text-left">
                        <p class="mb-0">{{ item.title }}</p>
                        @if (item.date) {
                        <footer class="blockquote-footer"><cite>{{ item.date }}</cite></footer>
                        }
                    </blockquote>
                </dd>
                }
            </dl>
        </div>
    </div>
    <hr>
</div>
}
