<div class="row">
    <div class="col-12 col-md-3 bg-black text-dark">
        <div class="container text-right p-3">
            <p class="d-none d-md-block text-right h4">Educación<i class="fas fa-book-open ml-2"></i></p>
            <p class="d-md-none text-center h5">Educación</p>
        </div>
    </div>
    <div class="col-12 col-md-9 bg-light p-3">
        <div class="container">
            <p class="h3 text-muted">Profesionales</p>
            <hr>
            <dl class="row">
                <dt class="col-sm-5 text-info">Escuela Militar de Comunicaciones ESCOM</dt>
                <dd class="col-sm-7">
                    <blockquote class="blockquote text-left">
                        <p class="mb-0">Gerencia integral de las telecomunicaciones</p>
                        <footer class="blockquote-footer"><cite>5 de diciembre de 2017</cite></footer>
                    </blockquote>
                </dd>
               
                <dt class="col-sm-5 text-info">Universidad de Cundinamarca</dt>
                <dd class="col-sm-7">
                    <blockquote class="blockquote text-left">
                        <p class="mb-0">Ingeniero de sistemas</p>
                        <footer class="blockquote-footer"><cite>23 de marzo 2014</cite></footer>
                    </blockquote>
                </dd>
            </dl>
            <p class="h3 text-muted">Cursos y diplomados</p>
            <hr>
            <dl class="row">
                <dt class="col-sm-5 text-info">LatamTechnologies</dt>
                <dd class="col-sm-7">
                    <blockquote class="blockquote text-left">
                        <p class="mb-0">ASP.NET MVC4</p>
                        <footer class="blockquote-footer"><cite>16 junio de 2014</cite></footer>
                    </blockquote>
                </dd>
               
                <dt class="col-sm-5 text-info">Microsoft Virtual Academy</dt>
                <dd class="col-sm-7">
                    <blockquote class="blockquote text-left">
                        <p class="mb-0">Developing in HTML5 with JavaScript and CSS3 Jump Start</p>
                        <footer class="blockquote-footer"><cite>28 de agosto de 2013</cite></footer>
                    </blockquote>
                </dd>

                <dt class="col-sm-5 text-info">Microsoft Virtual Academy</dt>
                <dd class="col-sm-7">
                    <blockquote class="blockquote text-left">
                        <p class="mb-0">Desarrollo basado en conceptos de Ingeniería de Software para Visual Studio</p>
                        <footer class="blockquote-footer"><cite>6 de junio de 2013</cite></footer>
                    </blockquote>
                </dd>

                <dt class="col-sm-5 text-info">Microsoft Virtual Academy</dt>
                <dd class="col-sm-7">
                    <blockquote class="blockquote text-left">
                        <p class="mb-0">Desarrollando en Windows 8</p>
                        <footer class="blockquote-footer"><cite>22 de abril de 2013</cite></footer>
                    </blockquote>
                </dd>
            </dl>
        </div>
    </div>
    <hr>
</div>