@if (cv$ | async; as cv) {
<div class="row">
    <div class="col-12 col-md-3 bg-black text-light">
        <div class="container text-right p-3">
            <p class="d-none d-md-block text-right h4">
                {{ cv.ui.knowledgeLeftHeading }}<i class="fas fa-star ml-2"></i>
            </p>
            <p class="d-md-none text-center h5">{{ cv.ui.knowledgeLeftHeading }}</p>
        </div>
    </div>
    <div class="col-12 col-md-9 bg-light p-3">
        <div class="container">
            @for (section of cv.knowledge.sections; track $index; let isFirst = $first) {
            @if (!isFirst) {
            <hr class="my-3" />
            }
            <p class="h3 text-muted" [class.mt-4]="!isFirst">{{ section.heading }}</p>
            <p>{{ section.body }}</p>
            }
        </div>
    </div>
    <hr>
</div>
}
