@if (cv$ | async; as cv) {
<div class="row">
    <div class="col-12 col-md-3 bg-black text-light p-3">
        <div class="container">
            <p class="d-none d-md-block text-right h4">
                {{ cv.profile.heading }}
                <i class="fas fa-user-alt ml-2"></i>
            </p>
            <p class="d-md-none text-center h5">{{ cv.profile.heading }}</p>
        </div>
    </div>
    <div class="col-12 col-md-9 bg-light p-3">
        <div class="container">
            <p class="text-justify">
                @for (paragraph of cv.profile.paragraphs; track $index; let isLast = $last) {
                <span>
                    {{ paragraph }}@if (!isLast) {<br>}
                </span>
                }
            </p>
        </div>
    </div>
</div>
}
