<div class="row">
    <div class="col-12 col-md-3 bg-black text-dark p-3">
        <div class="container">
            <p class="d-none d-md-block text-right h4">{{ 'intro.title' | translate }}<i class="fas fa-user-alt ml-2"></i></p>
            <p class="d-md-none text-center h5">{{ 'intro.title' | translate }}</p>
            <select [(ngModel)]="selectedLanguage" (ngModelChange)="toogleLanguage($event)">
                <option value="es">
                    {{ 'general.spanishLabel' | translate }}
                </option>
                <option value="fr">
                    {{ 'general.francesLabel' | translate }}
                </option>
            </select>
        </div>
    </div>
    <div class="col-12 col-md-9 bg-light p-3">
        <div class="container">
            <p class="text-justify">{{ 'intro.descripcion' | translate }}</p>
        </div>
    </div>
</div>