<div class="row">
    <div class="col-12 col-md-3 bg-black text-dark">
        <div class="container">
            <img src="./assets/img/perfil.jpg" width="300" height="300" class="img-fluid mx-auto rounded-circle d-block p-2" alt="Sebastian Gomez">
        </div>
    </div>
    <div class="col-12 col-md-9 bg-light">
        <div class="container p-2 align-middle">
            <h3 class="display-2 h1 text-info d-none d-md-block">Sebastian Gomez</h3>
            <h3 class="display-4 text-info d-md-none">Sebastian Gomez</h3>
            <h3 class="display-4 text-muted d-none d-md-block">{{ 'info.profession' | translate }}</h3>
            <h3 class="h3 text-muted d-md-none">{{ 'info.profession' | translate }}</h3>
        </div>
        <div class="container align-middle text-right">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/sebasez/" target="_blank" class="text-dark">
                        <i class="fab fa-linkedin fa-3x"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.facebook.com/sebasez" target="_blank" class="text-dark">
                        <i class="fab fa-facebook-square fa-3x"></i>
                    </a>
                </li>
            </ul>
            <hr>
        </div>
        <div class="container align-middle text-left">
            <div class="row">
                <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                    <p>{{ 'info.Location' | translate }}</p>
                    <p>Funza, CO</p>
                </div>
                <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                    <p>{{ 'info.phone' | translate }}</p>
                    <p><a class="text-secondary" href="tel:+573123549932">+573123549932</a></p>
                </div>
                <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                    <p>{{ 'info.mail' | translate }}</p>
                    <p><a class="text-secondary" href="mailto:sebasez@outlook.com?subject=Contacto">sebasez@outlook.com</a></p>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>